.adaptive-card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "image"
        "title"
        "text"
        "action"
}

.adaptive-card .card-image {
    grid-area: image;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #F3F3F3;
    height: 100%;
    padding: 16px;
}

@media screen and (min-width: 500px) {
    .adaptive-card {
        grid-template-columns: 35% 65%;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
            "image  title"
            "image  text"
            "image  action";
    }

    .adaptive-card.flipped {
        grid-template-columns: 65% 35%;
        grid-template-areas: 
            "title  image"
            "text   image"
            "action image";
    }

    .adaptive-card .card-image {
        border-top-right-radius: 0px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }
}

.adaptive-card .card-title {
    grid-area: title;
    padding: 16px 24px;
    border-bottom: 1px solid #465258;
}

.adaptive-card .card-text {
    grid-area: text;
    padding: 16px 24px;
    margin: 0px;
}

.adaptive-card .card-action {
    grid-area: action;
    padding-top: 8px;
    padding-bottom: 8px;
}

.adaptive-card .card-action a {
    white-space: nowrap;
    display: inline-block;
    margin: 8px 0px;
}