body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    color: black;
}

#layout {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "left   title   right"
        "left   navbar  right";
}

#title {
    grid-area: title;
}

nav {
    position: sticky;
    top: 0px;
}

#navbar {
    grid-area: 2 / 1 / span 1 / span 3;
    margin: 0px;
}

#navbar-content {
    grid-area: navbar;
}

h1 {
    font-size: 2em;
    font-weight: 600;
    line-height: 64px;
    margin: 0em 1rem;
}

h2 {
    font-size: 2em;
    font-weight: 200;
    margin: 1em;
}

nav i {
    margin: 0px;
    padding: 0px;
    height: 64px;
    line-height: 64px;
}

.docpage-layout {
    margin: auto;
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap: 48px;
    grid-template-areas: "sidebar cnt";
}

@media screen and (max-width: 992px) {
    .docpage-layout {
        grid-template-columns: auto;
        grid-gap: 48px;
        grid-template-areas: "cnt";
    }
}

.sidebar {
    grid-area: sidebar;
    background-color: pink;
    overflow-y: scroll;
}

.content {
    grid-area: cnt;
}

.content img {
    width: 100%;
    height: auto;
}

.sidenav li > a {
    height: auto;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 16px;
}

a.sidenav-trigger {
    margin: 0px;
}