body {
    margin: 0px;
    padding: 0px;
    background-color: #182931;
    color: white;
}

h1 {
    font-size: 2em;
    font-weight: 600;
    line-height: 64px;
    margin: 0em 1rem;
}

h1 > a {
    color: white;
}

.dropdown-content li {
    background-color: #41567F;
}

.dropdown-content li > a {
    color: white;
}

.dropdown-content li:hover {
    background-color: #41567F;
}

.card {
    background-color: #2F3F46;
    margin-top: 48px;
    margin-bottom: 48px;
    color: #B4BABD;
}

.card .card-title {
    font-weight: 600;
    color: white;
}

.card {
    margin-top: 24px;
    margin-bottom: 24px;
}

.card a {
    color: #E5CA50;
}

.card a:hover {
    color: #F3E4A5;
}