input {
    color: white;
}

textarea {
    color: white;
}

.card {
    background-color: #2F3F46;
}

.card i {
    font-size: 2em;
}

.card .card-content .card-title {
    margin-bottom: 1em;
}

.cards-layout {
    margin-top: 3em;
}

.card a {
    color: #E5CA50 !important;
}

.card a:hover {
    color: #F3E4A5 !important;
}

.input-field {
    margin-top: 48px;
}

form.feedback {
    padding: 16px;
}