$background-color: #191E22;
$text-color: hsla(0, 0%, 100%, 0.75);
$topnav-background-color: #E3E3E3;
$topnav-accent: #015CAE;
$topnav-text-color: #56472b;
$topnav-text-highlight: #f0f0f0;
$sidebar-title-highlight: #248ec2;

$color6: #FAFAFA;
$color1: #808080;
$color10: #595959;

$color2: #ED1951;
$color11: #E50E51;

$color7: #649345;

$color12: #679DCE;
$color13: #216f9b;

body {
    background-color: $background-color;
    color: $text-color;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.summary {
    color: $color1;
    border-left: 5px solid $color2;
    font-size:16px;
}


h3 {color: $color2; }
h4 {color: $color1; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: $sidebar-title-highlight;
    color: $topnav-text-color;
}

.nav > li.active > a {
    background-color: $topnav-background-color;
    color: $topnav-text-color;
}

.nav > li > a:hover {
    background-color: $sidebar-title-highlight;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: $topnav-background-color;
}

.nav li.thirdlevel > a {
    background-color: $color6 !important;
    color: $sidebar-title-highlight;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: $color7;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: $topnav-background-color;
    border-color: $topnav-accent;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: $topnav-text-color;
}

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
     color: $topnav-text-highlight;
}

a.navbar-brand:hover {
  color: $topnav-text-highlight;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: $topnav-accent;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: $topnav-accent;
    color: $topnav-text-color;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: $sidebar-title-highlight !important;
}

.btn-primary {
    color: $topnav-text-color;
    background-color: $topnav-background-color;
    border-color: $topnav-background-color;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: $topnav-background-color;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: $sidebar-title-highlight;
    border-color: $topnav-background-color;
}

.printTitle {
    color: $topnav-accent !important;
}

body.print h1 {color: $topnav-accent !important; font-size:28px !important;}
body.print h2 {color: $color10 !important; font-size:20px !important;}
body.print h3 {color: $color11 !important; font-size:14px !important;}
body.print h4 {color: $color12 !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: $color13;
}

div.sidebarTitle {
    color: $topnav-accent;
}

li.sidebarTitle {
  margin-top:20px;
    font-weight:normal;
    font-size:130%;
    color: $color2;
    margin-bottom:10px;
    margin-left: 5px;

}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: $topnav-accent;
}

.navbar-inverse .navbar-toggle {
    border-color: $topnav-accent;
}
