body {
    margin: 0px;
    padding: 0px;
}

#layout {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "left   title   right"
        "left   navbar  right";
}

#title {
    grid-area: title;
}

#navbar {
    grid-area: 2 / 1 / span 1 / span 3;
}

#navbar-content {
    grid-area: navbar;
}

h1 {
    font-size: 2em;
    margin: 0.5em 0.5rem;
}

h2 {
    font-size: 1em;
    margin: 1em 0.5rem;
}

nav i {
    margin: 0px;
    padding: 0px;
    height: 64px;
    line-height: 64px;
}