<div class="banner">
    <div class="banner_container container">
        <div class="banner_row row center">            
            <div class="banner__right col s12 l5 push-l7">
                <div class="banner__slogan">The Quickest IDE to Get You Started!</div>
                <div class="banner__button">{% include mega-button.html %}</div>
            </div>
            <div class="banner__left col s12 l7 pull-l5">
                <div class="banner__video video-container">
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/491398283" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>            
        </div>
    </div>
</div>