<div class="mega-button download-button">
  <a href="#" class="mega-button-content btn">
    <span class="download-button-span-1">DOWNLOAD</span>
    <span class="download-button-span-2">For Selected OS</span>
  </a>
  <a href="#" class="dropdown-trigger mega-button-arrow btn" data-target="banner-download-dropdown">
    <i class="material-icons">arrow_drop_down</i>
  </a>
  <table id="banner-download-dropdown" class="dropdown-content">

    <!-- Header -->
    <tr>
      <th>Operating System</th>
      <th>Stable</th>
      <th>Nightly</th>
    </tr>

    <!-- Windows -->
    <tr>
      <td>Windows</td>
      <td class="center">
        <a href="https://moonshine-ide.com/downloads/releases/windows/Moonshine-2.6.0.exe">
          <i class="material-icons">file_download</i>
        </a>
      </td>
      <td class="center">
        <a href="https://moonshine-ide.com/downloads/releases/dev/windows/" target="_blank">
          <i class="material-icons">file_download</i>
        </a>
      </td>
    </tr>

    <!-- MacOS (App Store) -->
    <tr>
      <td>MacOS (App Store)</td>
      <td class="center">
        <a href="https://apps.apple.com/us/app/moonshine/id1099109346" target="_blank">
          <i class="material-icons">file_download</i>
        </a>
      </td>
      <td class="center">
        <a href="https://moonshine-ide.com/downloads/releases/dev/macos/" target="_blank">
          <i class="material-icons">file_download</i>
        </a>
      </td>
    </tr>

    <!-- MacOS (Non-Sandbox) -->
    <tr>
      <td>MacOS (Non-Sandbox)</td>
      <td class="center">
        <a href="https://moonshine-ide.com/downloads/releases/macos/Moonshine-2.6.0.pkg" target="_blank">
          <i class="material-icons">file_download</i>
        </a>
      </td>
      <td class="center">
        <a href="https://moonshine-ide.com/downloads/releases/dev/macos/Moonshine_Signed_NonSandbox.pkg"
          target="_blank">
          <i class="material-icons">file_download</i>
        </a>
      </td>
    </tr>

    <!-- Other downloads -->
    <tr>
      <td colspan="3" class="center">
        <a href="download/">Other downloads</a>
      </td>
    </tr>

  </table>
</div>