<!-- Navbar Dropdown for Mobile -->
<ul id="nav-dropdown" class="dropdown-content">
    <li><a href="{{site.baseurl}}/faq/">FAQ</a></li>
    <li><a href="https://github.com/prominic/Moonshine-IDE" target="_blank">GitHub</a></li>
    <li><a href="{{site.baseurl}}/docs/moonshine/set_sdk.html">Docs</a></li>
    <li><a href="{{site.baseurl}}/privacy-policy/">Privacy Policy</a></li>
    <li><a href="{{site.baseurl}}/flex-migration/">Flex Migration to HTML</a></li>
    <li><a href="{{site.baseurl}}/feedback/">Contact Us</a></li>
</ul>

<nav id="navbar">
    <div class="container nav-wrapper">
        <ul class="left">
            {% if page.url contains "docs" %}
            <li>
                <a href="#" data-target="sidenav-mobile" class="sidenav-trigger">
                    <i class="material-icons left">menu</i>
                    <span class="hide-on-small-only">MENU</span>
                </a>
            </li>
            {% endif %}
            <li>
                <a href="{{site.baseurl}}/index.html">
                    <i class="material-icons left">home</i>
                    <span class="hide-on-small-only">HOME</span>
                </a>
            </li>
        </ul>
        <ul class="right hide-on-large-and-down">
            <li><a href="{{site.baseurl}}/faq/">FAQ</a></li>
            <li><a href="https://github.com/prominic/Moonshine-IDE" target="_blank">GitHub</a></li>
            <li><a href="{{site.baseurl}}/docs/moonshine/set_sdk.html">Docs</a></li>
            <li><a href="{{site.baseurl}}/privacy-policy/">Privacy Policy</a></li>
            <li><a href="{{site.baseurl}}/flex-migration/">Flex Migration to HTML</a></li>
            <li><a href="{{site.baseurl}}/feedback/">Contact Us</a></li>
        </ul>
        <ul class="right hide-on-extra-large-only">
            <li>
                <a class="dropdown-trigger" href="#!" data-target="nav-dropdown">
                    <span>MORE</span>
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </ul>
    </div>
</nav>