<header class="container">
    <h1>Moonshine IDE</h1>
</header>

<!-- Navbar Dropdown for Mobile -->
<ul id="nav-dropdown" class="dropdown-content">
    <li><a href="/faq.html">FAQ</a></li>
    <li><a href="https://github.com/prominic/MoonshineWebsite">GitHub</a></li>
    <li><a href="/docs/moonshine/moonshine_set_sdk.html">Docs</a></li>
    <li><a href="#" onclick="window.open('/pages/form.html','Send Us Your Feedback','width=600,height=400')">Feedback</a></li>
</ul>

<nav id="navbar">
    <div class="container nav-wrapper">
        <ul class="left">
            {% if page.url contains "docs" %}
            <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
            {% endif %}
            <li><a href="{{site.baseurl}}/index.html"><i class="material-icons">home</i></a></li>
        </ul>
        <ul class="right hide-on-small-only">
            <li><a href="/faq.html">FAQ</a></li>
            <li><a href="https://github.com/prominic/MoonshineWebsite">GitHub</a></li>
            <li><a href="/docs/moonshine/moonshine_set_sdk.html">Docs</a></li>
            <li><a href="#" onclick="window.open('/pages/form.html','Send Us Your Feedback','width=600,height=400')">Feedback</a></li>
        </ul>
        <ul class="right hide-on-med-and-up">
            <li>
                <a class="dropdown-trigger" href="#!" data-target="nav-dropdown">
                    MORE<i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </ul>
    </div>
</nav>