<div class="container">
    <div class="social-layout">

        <!-- Newsletter -->
        <div class="newsletter card theme-dark">
            <div class="card-content">

                <span class="card-title">Subscribe to our newsletter</span>

                <div class="names">                    
                    
                    <div class="first-name input-field">
                        <input id="first-name" type="text" class="validate">
                        <label for="first-name">First Name</label>
                    </div>

                    <div class="last-name input-field">
                        <input id="last-name" type="text" class="validate">
                        <label for="last-name">Last Name</label>
                    </div>

                </div>

                <div class="input-field">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>

                <div class="subscribe-button center">
                    <button type="submit" class="btn">Subscribe</button>
                </div>

            </div>
        </div>

        <!-- Social media links -->
        <div class="social-media card theme-dark">
          <div class="card-content">
            <span class="card-title">Visit us on social media</span>
          </div>
        </div>

    </div>
</div>