<div class="container">
    <div class="social-layout">

        <!-- Newsletter -->
        <div class="newsletter card theme-dark">
            <div class="card-content">

                <span class="card-title">Subscribe to our newsletter</span>

                <form action="https://app.getresponse.com/add_subscriber.html" accept-charset="utf-8" method="post">
                  <!-- First name -->
                  firstname: <input type="text" name="first_name"/><br/>
                  <!-- Last name -->
                  lastname: <input type="text" name="last_name"/><br/>
                  <!-- Email field (required) -->
                  email: <input type="text" name="email"/><br/>
                  <!-- List token -->
                  <!-- Get the token at: https://app.getresponse.com/campaign_list.html -->
                  <input type="hidden" name="campaign_token" value="KMd3X" />
                  <!-- Subscriber button -->
                  <input type="submit" value="Subscribe"/>
                </form>

            </div>
        </div>

        <!-- Social media links -->
        <div class="social-media card theme-dark">
          <div class="card-content">
            <span class="card-title">Visit us on social media</span>
            <div class="row-1">
                <a href="https://twitter.com/MoonshineIDE" target="_blank"><i class="fab fa-twitter-square"></i></a>
                <a href="https://www.linkedin.com/groups/8464960/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.facebook.com/MoonshineIDE/" target="_blank"><i class="fab fa-facebook-square"></i></a>
            </div>
            <div class="row-2">
                <a href="https://github.com/prominic/Moonshine-IDE" target="_blank"><i class="fab fa-github-square"></i></a>
                <a href="https://vimeo.com/user103519028/" target="_blank"><i class="fab fa-vimeo-square"></i></a>
            </div>
          </div>
        </div>

    </div>
</div>