.scaled-image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}