$timber-green: hsl(199, 34%, 14%);
$east-bay: hsl(220, 32%, 38%);
$confetti: hsl(49, 74%, 61%);
$gallery: hsl(0, 0%, 93%);
$limed-spruce: hsl(198, 20%, 23%);
$silver-sand: hsl(200, 6%, 72%);

$primary-color: $east-bay;
$secondary-color: $confetti;

$input-focus-color: $secondary-color;