.banner {
  background-image: url("../../images/andromeda-wide.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  align-items: center;
  justify-items: center;
}

.banner-layout {
  width: 90%;
  margin: auto;
  padding: 16px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  justify-items: center;
  grid-template-areas: 
      "slogan"
      "download"
      "screen";
}

@media screen and (min-width: 600px) {
  .banner-layout {
      width: 85%;
      margin: 48px auto;
      grid-gap: 48px;
      grid-template-columns: 7fr 5fr;
      grid-template-rows: auto auto;
      grid-template-areas: 
      "screen slogan"
      "screen download"
  }
}

@media screen and (min-width: 993px) {
  .banner-layout {
      width: 70%;
  }
}

.slogan {
  grid-area: slogan;
  text-align: center;
  align-self: flex-end;
}

.download-button {
  grid-area: download;
  align-self: flex-start;
  margin: 1em;
}

.screenshot {
  background-image: url('../../images/screen.jpg');
  grid-area: screen;
}

.download-button-span-1 {
  display: block;
  font-size: 1.5em;
  line-height: 1.5em;
  color: black;
}

.download-button-span-2 {
  display: block;
  font-size: 0.75em;
  line-height: 2em;
  text-transform: initial;
  color: black;
}