.faq-content .card {
  background-color: $limed-spruce;
  margin-top: 24px;
  margin-bottom: 24px;
  color: $silver-sand;
}

.faq-content .card .card-title {
  font-weight: 600;
  color: white;
  margin-bottom: 8px;
}