.banner {
  width: 100%;
  height: 100%;
  background-image: url("../../images/andromeda-wide.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.banner__slogan {
  margin: 1em;
  font-size: 2em;
  font-weight: 200;
  
}

.banner__button {
  margin: 1em;
  margin-bottom: 2em;
}

.banner__video {
  margin: 1em;
  margin-bottom: 2em;
}