.mega-button {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2px;
}

.mega-button-content {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 5px 30px;
}

.mega-button-arrow {
  padding-left: 0px;
  padding-right: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  display: grid;
  align-items: center;
  color: black;
}

.dropdown-content {
  width: auto !important;
  color: black;
}

.dropdown-content tr th {
  padding: 10px 20px;
  background-color: $gallery;
  border-radius: 0px;
}

.dropdown-content tr td {
  padding: 10px 20px;
}

.dropdown-content a {
  color: mix(black, $confetti, 20%);

  &:hover {
    color: mix(black, $confetti, 00%);
  }

  i {
    color: mix(white, $confetti, 20%);
    &:hover {
      color: mix(white, $confetti, 00%);
    }
  }
}

.mega-button table {
  @media #{$small-and-down} {
    font-size: 0.9em;
    font-weight: 600;
  }
}