nav {
  position: sticky;
  top: 0px;
  z-index: 1;
}

a.sidenav-trigger {
  margin: 0px;
}
  
.dropdown-content {
  
  li {
    background-color: $east-bay;
    
    &:hover {
      background-color: $east-bay;
    }
  }
  
  li > a {
    color: white;    
  }
}  
