#sidenav-mobile {

  ul.tree {
    padding-left: 16px;
    padding-bottom: 16px;
  }
  
  li {

    a {
      height: auto;
      font-size: 16px;
      line-height: 20px;
      padding-top: 4px;
      padding-bottom: 4px;
      color: $east-bay;

      &.active {
        font-weight: 600;
      }
    }
  }
}

#sidenav-desktop {

  ul.tree {
    padding-left: 16px;
    padding-bottom: 16px;
  }

  li {
    padding-top: 4px;
    padding-bottom: 4px;
    word-wrap: break-word;

    a {
      color: $east-bay;

      &:hover {
        color: mix(white, $east-bay, 50%);
      }

      &.active {
        font-weight: 600;
      }
    }
  }
}