#sidenav-mobile {
  
  li {

    a {
      height: auto;
      font-size: 16px;
      line-height: 20px;
      padding: 16px;
      color: $east-bay;

      &.active {
        font-weight: 600;
      }
    }
  }
}

#sidenav-desktop {
  padding: 16px;

  li {
    padding: 8px;
    word-wrap: break-word;

    a {
      color: $east-bay;

      &:hover {
        color: mix(white, $east-bay, 50%);
      }

      &.active {
        font-weight: 600;
      }
    }
  }
}