.social-layout {
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto;
  gap: 48px;
}

.newsletter {
  width: 350px;
  justify-self: right;
}

.names {
  display: flex;
  flex-direction: row;
}

.first-name {
  margin-right: 10px;
}

.last-name {
  margin-left: 10px;
}

.subscribe-button {
  margin-top: 48px;
}

.social-media {
  width: 350px;
  justify-self: left;
}