body.theme-dark {
  background-color: $timber-green;
  color: white;
}

.header.theme-dark a {
  color: white;
}

.card.theme-dark {
  background-color: $limed-spruce;
}

.card.theme-dark a {
  color: $confetti !important;
}

.card.theme-dark a:hover {
  color: mix(white, $confetti, 50%) !important;
}