body.theme-dark {
  background-color: $timber-green;
  color: white;
}

.btn {
  background-color: mix(white, $confetti, 50%);
  color: black;

  &:hover {
    background-color: $confetti;
  }
}

.header.theme-dark a {
  color: white;
}

.card.theme-dark {
  background-color: $limed-spruce;
}

.card.theme-dark a {
  color: mix(white, $confetti, 50%) !important;
}

.card.theme-dark a:hover {
  color: $confetti !important;
}

.cta-card .card-action .btn {
  color: black !important;

  &:hover {
    color: black !important;
  }
}

.input-field.theme-dark {
  
  input {
    color: white;
  }
  
  textarea {
    color: white;
  }
}