<html lang="en">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="/css/materialize.css">
    <!--Customize material-->
    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="/css/mega-button.css">
    <link rel="stylesheet" href="/css/adaptive-card.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
</head>

<body>

    {% include navbar.html %}

    {{ content }}

</body>

</html>