h1.title {
  font-size: 2em;
  font-weight: 600;
  line-height: 64px;
  margin: 0em 1rem;
}

h2.slogan {
  font-size: 2em;
  font-weight: 200;
  margin: 1em;
}

.card i {
  font-size: 2em;
}

.card .card-content .card-title {
  margin-bottom: 1em;
}

form.feedback {
    padding: 16px;
}

.feedback .input-field {
  margin-top: 48px;
}